data/
__pycache__/
.ipynb_checkpoints
.mypy_cache
.vscode
color_results/
results/
*.pth
*.pkl
*.ini
*.h5
.DS_Store
!**/tag_dump.pkl
*.tar.xz
*.json
preprocessor/waifu2x-caffe
dataset
!dataset/tag_dump.pkl
